/* lib-foxy-socks.css */
.lib-foxy-socks {
  --lib-foxy-socks-gap: 0.5rem;
  display: block;
}

.lib-foxy-socks__content {
  margin-block: var(--lib-foxy-socks-gap);
}

.lib-foxy-socks__content--empty { opacity: 0.6; }
