# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Output / coverage
coverage/
dist/
build/
*.log
*.tgz

# Env
.env
.env.*

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# npm cache artifacts
package-lock.json
