<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Preview</title>
  <link rel="stylesheet" href="/dist/output.css">
  
</head>
<body>
  <h1>Component Preview: lib-tags</h1>
  {% render "lib-tags",
      _classes: 'tag-list flex flex-wrap gap-2',
      _number_of_tags: _number_of_tags,
      _tags: product.tags %}
  
  <script id="__bs_script__">document.write("<script async src='/browser-sync/browser-sync-client.js'><\/script>");</script>
</body>
</html>