<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Preview</title>
  <link rel="stylesheet" href="/dist/output.css">
  <link rel="stylesheet" href="components/lib-jam/lib-jam.css">
</head>
<body>
  <h1>Component Preview: lib-jam</h1>
  {% render "lib-jam" %}
    {% render 'lib-button',
      _button_class: "bg-green-600 text-white px-6 py-3 rounded-lg font-medium hover:bg-indigo-700 transition-colors shadow-lg",
      _button_id: "button-id-1",
      _button_text: "Click Me Bitch"
    %}
  <script src="../components/lib-jam/lib-jam.js"></script>
  <script id="__bs_script__">document.write("<script async src='/browser-sync/browser-sync-client.js'><\/script>");</script>
</body>
</html>