<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Preview</title>
  <link rel="stylesheet" href="/dist/output.css">
  <link rel="stylesheet" href="/components/lib-foxy.css">
</head>
<body>
  <h1>Component Preview: lib-foxy</h1>
  {% render "lib-foxy",
      _foxy_content: "_foxy_content",
      _empty: "_empty",
      _test: "_test" %}
  
  <script id="__bs_script__">document.write("<script async src='/browser-sync/browser-sync-client.js'><\/script>");</script>
</body>
</html>