/* lib-clicker.css */
.lib-clicker {
  --lib-clicker-gap: 0.5rem;
  display: block;
}

.lib-clicker__content {
  margin-block: var(--lib-clicker-gap);
}

.lib-clicker__content--empty { opacity: 0.6; }
