{% comment %} 
 lib-button.liquid

 Props can be drawn from anythign with the _ prefix:
{% endcomment %}

<button 
  id="{{ _button_id }}"  
  class="{{ _button_class }}" 
  type="{{ _button_type }}">
  <span>
    {{ _button_text }}
  </span>
</button>